@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --color-one: #6F2C3E;
  --color-two: #fff;
  --color-tree: #FFC300;
  --color-fowr:  #4A4A4A;
  --color-five: #333;
  --color-six: #FFD700;
}
/* Body */


body.bg-cover {
  background-size: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Navbar */
.navigation {
  position: relative;
  width: 100%;
  height: 100px;
  background: var(--color-one);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation img {
width:250px;
padding: 12px;
margin: 22px;

}


.navigation ul{
  display: flex;
  width: -20px;
  margin-left: 660px;
}


.navigation ul li{
  position: relative;
  list-style: none;
  width: 6rem;
  height: 70px;
  z-index: 1;
}


.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: var(--color-two);
    
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 85px;
  font-size: 2rem;
  text-align: center;
  transition: 0.5s;
  color: var(--color-two);
}

.navigation ul li:hover a .icon{
  transform: translateY(-35px);  color: var(--color-six);
}

.navigation ul li a .text{
  position: absolute;
  color: var(--color-two);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li:hover a .text{
opacity: 1;
transform: translateY(10px);
}


.container {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



/* Section Hero */
.hero-section {
  position: relative;
  height: 80vh;
  width: 100%;
  background-image: url('/img/Fundo\ Porto\ Alegre\ em\ branco.png');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--color-five);
  opacity: 0.2;
}

.hero-content {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.hero-box {
  background-color:rgba(255, 255, 255, 0.8);
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
}

.hero-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-one);
  margin-bottom: 16px;
}

.hero-text {
  color: #4A4A4A;
  margin-bottom: 24px;
}

.hero-button {
  background-color: #6F2C3E;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #5B2A36;
}


/* Presentation Section */
.presentation-container {
  max-width: 1024px;
  margin: 5% auto 0 auto;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.presentation-content {
  display: flex;
  align-items: center;
  padding: 24px;
}

.presentation-text {
  flex: 1;
  padding-right: 32px;
}

.presentation-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 0;
}

.presentation-description {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 16px;
  margin-right: -12px;
}

.presentation-button {
  margin-inline-start: 400px;
  background-color: var(--color-one);
  color: var(--color-two);
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.presentation-button:hover {
  background-color: var(--color-six);
  color: var(--color-fowr);
}

.presentation-image {
  flex-shrink: 0;
}

.profile-image {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  object-fit: cover;
}



/* Divider */
.divider {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 4px solid #6F2C3E;
}

/* Services Grid */
/* Grid de Serviços */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  justify-content: center;
  gap: 2rem;
  margin-top: 2.5rem;
  justify-content: center; /* Centraliza os cards */
    align-items: stretch; /* Mantém os cards alinhados */
}

@media (min-width: 640px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Card de Serviço */
.service-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  flex-direction: column;
    justify-content: space-between;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Imagem do Serviço */
.service-image {
  width: 100%;
  height: 200px; /* Ajusta a altura da imagem */
  object-fit: cover; /* Faz com que a imagem cubra totalmente a área */
  transition: transform 0.3s ease-in-out;
}

.service-card:hover .service-image {
  transform: scale(1.1); /* Dá um leve zoom na imagem ao passar o mouse */
}

/* Título do Serviço */
.service-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  margin: 1rem 0;
  padding: 0 1rem;
  text-align: center;
  text-transform: capitalize;
}

/* Descrição do Serviço */
.service-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  text-align: center;
}

/* Link do Serviço */
.service-link {
  font-size: 1.1rem;
  color: #6F2C3E;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  display: block;
  text-align: center;
}

.service-link:hover {
  color: #9b3b53; /* Uma cor mais clara ao passar o mouse */
  text-decoration: underline;
}

/* Divider */
.divider {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 4px solid #6F2C3E;
}

/* Services Grid */
/* Grid de Serviços */
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2.5rem;
}

@media (min-width: 640px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Card de Serviço */
.service-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Reduz o tamanho do card */
  justify-items: center;  /* Centraliza os itens na horizontal */
  align-items: center;    /* Centraliza os itens na vertical (se a altura for maior que o conteúdo) */
  text-align: center;
  margin-left: 25%;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Imagem do Serviço */
.service-image {
  position: relative;
  width: 100%;
  height: 180px; /* Altura mais compacta */
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* A imagem ocupa toda a área do container sem distorções */
  border-bottom: 4px solid #6F2C3E; /* Borda para separar a imagem do texto */
}

/* Título do Serviço */
.service-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin: 1rem 0;
  padding: 0 1rem;
  text-align: center;
  text-transform: capitalize;
}

/* Descrição do Serviço */
.service-description {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 1rem;
  padding: 0 1rem;
  text-align: center;
}

/* Link do Serviço */
.service-link {
  font-size: 1.1rem;
  color: #6F2C3E;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  display: block;
  text-align: center;
  padding-bottom: 1rem;
}

.service-link:hover {
  color: #9b3b53; /* Uma cor mais clara ao passar o mouse */
  text-decoration: underline;
}


/* Cookie Popup */
.cookie-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 400px;
  background-color: #6f2c3e; /* Cor de fundo */
  color: #fff; /* Texto branco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-family: Arial, sans-serif;
}

.cookie-popup h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cookie-popup .cookie-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cookie-buttons {
  display: flex;
  justify-content: space-between;
}

.cookie-buttons .accept-button,
.cookie-buttons .reject-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cookie-buttons .accept-button {
  background-color: #4caf50; /* Verde para "Aceitar" */
  color: #fff;
}

.cookie-buttons .accept-button:hover {
  background-color: #45a047;
}

.cookie-buttons .reject-button {
  background-color: #f44336; /* Vermelho para "Rejeitar" */
  color: #fff;
}

.cookie-buttons .reject-button:hover {
  background-color: #e53935;
}



/* Footer */
.footer {
  background-color: #2D2D2D;
  color: white;
  padding: 2rem 0;
  margin-top: 5%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 640px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Footer Left */
.footer-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-size: 0.875rem;
}

/* Footer Right */
.footer-right {
  text-align: left;
}

.footer-heading {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-link {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #A0A0A0;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}

.footer-link:hover {
  color: white;
}

.footer-link i {
  margin-right: 0.5rem;
}
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

/* Ícone do WhatsApp */
.whatsapp-icon {
  width: 35px;
  height: 35px;
}
